<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <style>
        a:hover {
            background-color: #E74C3C;
            border-color:black;
            font-size: 20px;
            font-weight: bolder;
        }
        /* Clear floats after the columns */
        .row:after {
            display: table;
            clear: both;
            border: #005cbf;
        } .all-browsers {
                      margin: 5px;
                      padding: 25px;
                      background-color: lightgray;
                      background-image: url("Images/Innovation.jpg");
                  }

        .all-browsers > h1, .browser {
            margin: 10px;
            padding: 5px;
        }

        .browser {
            background: white;
            border: 3px solid cyan;
        }

        .browser > h2, p {
            margin: 4px;
            font-size: 120%;
        }
        .p1 {
            font-family: "Times New Roman", Times, serif;
            color: black;
        } .image {
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 40%;
                  }.image1{
                       display: block;
                       margin-left: auto;
                       margin-right: auto;
                       width: 90%;
                   }
        .image1{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        } .image2{
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 100%;
                      margin-bottom: -14rem;
                  } .image3{
                                          display: block;
                                          margin-left: auto;
                                          margin-right: auto;
                                          width: 100%;

                                      }
        .image5{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 55%;
        }
        .imagelogo{
            width: 120px;
        }
        .imagew3{
            width: 70px;
        }
        .imagew4{
            width: 40px;
        }
    </style>
    <title>Python Article 3 : OOP Principles</title>
</head>
<body>

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>


<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">historyofinternet@njit.com</span></a>

            </div>

        </div>
    </div>
</div>
<header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
                <div class="logo">

                    <img src='Images/finallogo.PNG' alt="Internet connecting the world" class="imagelogo">

                    <span class="text-primary">OOP</span>
                </div>
            </div>

            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ol class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                        <li><a href="index.html" class="nav-link">Home</a></li>
                        <li><a href="inventors.html" class="nav-link">Inventors</a></li>
                        <li class="has-children">
                            <a href="timeline.html" class="nav-link">Timeline</a>

                            <ol class="dropdown arrow-top">
                                <li><a href="truestory.html" class="nav-link">True Story</a></li>
                                <li><a href="icann.html" class="nav-link">ICANN</a></li>
                                <li><a href="dotbubble.html" class="nav-link">Dot-Com Bubble</a></li>
                            </ol>

                        </li>
                        <li><a href="evolution.html" class="nav-link">Evolution</a></li>
                        <li><a href="future.html" class="nav-link">Future</a></li>
                        <li><a href="developers.html" class="nav-link">Developers</a></li>
                        <li class="has-children">
                            <a href="pythonarticles.html" class="nav-link">PythonArticles</a>

                            <ol class="dropdown arrow-top">
                                <li><a href="pylintarticle1.html" class="nav-link">Pylint</a></li>
                                <li><a href="AAAarticle.html" class="nav-link">AAA Testing</a></li>
                                <li><a href="oopprinciples.html" class="nav-link">OOP Principles</a></li>
                                <li><a href="designpattersnarticle.html" class="nav-link">Design Patterns</a></li>
                            </ol>
                        </li>
                    </ol>
                </nav>
            </div>



            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>

<article class="all-browsers">
    <article class="browser">

        <h2 style="font-size:30px;"><u>Object Oriented Programming Features</u></h2>
        <p class="p1">
            Object-Oriented Programming is a programming paradigm based on the creation of reusable “objects” that have their own properties and behavior that can be acted upon, manipulated, and bundled.
            These objects package related data and behaviors into representations of real-life objects. OOP is a widely used paradigm across various popular programming languages like Python, C++, and Java.
            Many developers use OOP because it makes your code reusable and logical, and it makes inheritance easier to implement. It follows the DRY principle, which makes programs much more efficient.
        </p>
        <img src="Images/Object-Oriented-Programming.png" class="image" alt="Image">
    </article>

    <article class="browser">
        <h2 style="font-size:30px;"><u>Encapsulation</u></h2>
        <p class="p1">
            Encapsulation is an object-oriented programming feature, which restricts access to methods and variables, which results in prevention of data from direct manipulation. The private attributes are denoted using underscore as the prefix i.e single _ or double __.
            <br><u>For Example:</u> In our calculator class, we have used an init method which illustrates the example of the encapsulated method in our project.
            In the below code, we have demonstrated that private class data can only be manipulated using class functions and not using an object.<br>
        <u>Code Snippet:</u> <br>
        </p>
        <img src="Images/article3.png" alt="Image" class="image1">
    </article>

    <article class="browser">
        <h2 style="font-size:30px;"><u>Inheritance</u></h2>
        <p class="p1">
            The process of creating a new class by using the details of an existing class without modifying it. The new class is known as child class, and the class from which is has been derived is known as parent class or the base class.
            <br><u>For Example:</u> In our project, we have implemented the inheritance feature, which has the parent class named as 'calculation_project'
            and child class as 'Additioncalc','Subtractioncalc','Multiplicationcalc' and 'Divisioncalc'.
            <br><u>Code Snippet:</u> <br>
        </p>
        Parent Class : Calculation<br>
        <img src="Images/article4.png" class="image1" alt="Image">
        Child Class : Additioncalc<br>
        <img src="Images/article5.png" class="image1" alt="Image">
    </article>

    <article class="browser">

        <h2 style="font-size:30px;"><u>Polymorphism</u></h2>
        <p class="p1">
            The ability of object-oriented programming to use a common interface for multiple forms and data types is known as polymorphism.
            Polymorphism is an ability (in OOP) to use a common interface for multiple forms (data types).
            Suppose, we need to color a shape, there are multiple shape options (rectangle, square, circle). However, we could use the same method to color any shape. This concept is called Polymorphism.
        </p>
        <u>For Example :</u> In our calculator program, we have added the getoutput(self), method which implements the polymorphism feature. In this project, we are performing different operation like addition, subtraction, multiplication and division and same
        method i.e getoutput(self) is returning values for the operation performed. The names of both methods are the same, here, but the purpose is different. Next, a string value will be taken from the user to create an object and to call the method based on the value.
        <br>
        <img src="Images/poly1.png" alt="Image" class="image2"> <br>
        <img src="Images/poly2.png" alt="Image" class="image3">
    </article>

    <article class="browser">

        <h2 style="font-size:30px;"><u>Abstraction</u></h2>
        <p class="p1">
            Abstraction in python is defined as a process of handling complexity by hiding unnecessary information from the user. This is one of the core concepts of object-oriented programming (OOP) languages. That enables the user to implement even more complex logic on top of the provided abstraction without understanding or even thinking about all the hidden background/back-end complexity.
            A powerful way to manage abstraction is through the use of hierarchical classification. This allows us to layer the semantics of complex systems, breaking them into more manageable pieces.        </p>
        <u>For Example:</u>
            In the example there is an abstract method add_operation_to_history(). There are four child classes additioncalc_project, divisioncalc_project, subtractioncalc_project and multiplicationcalc_project derived from Calculation_project that implement the abstract method add_operation_to_history() as per their functionality.
            As a user we are abstracted from that implementation when an object of individual class is created and add_operation_to_history() method is invoked using that object. In this way, we have implemented abstraction feature of OOP concept in our project.
        <br>
        <img src="Images/poly4.png" alt="Image" class="image1">
    </article>

    <article class="browser">

        <h2 style="font-size:30px;"><u>Real Life Examples</u></h2>
        <p class="p1">
           The real world examples for the OOP programming features are as follows :
        </p>
        <br> <u><b>1) Abstraction:</b></u> The feature of Abstraction can be seen in the following image, which has manual and a television set.
        In this case, the user is just provided with the manual to set up the television set with a set of instruction that needs to be
        followed in order to set up the television. In this abstraction feature, the internal abstract case of setup guide is called and user
        is never aware of it. This illustrates the real life example of the abstraction feature of OOP concepts.
        <br> <br>
        <u><b>2) Encapsulation:</b> </u> The Encapsulation feature hides the internal logic use in implementing the ATM card. When a user uses an ATM functionality,
        like withdraw or depositing the cash, he is not aware of internal logic use for implementing this feature. This illustrates that while working with classes and
        dealing with sensitive data, providing global access to all the variables used within the program is not a good choice. Thus,
        Encapsulation offers a way for us to access the required variables without providing the program full-fledged access to any of those variables which is use in our
        example of the ATM function which illustrates the encapsulation feature of the OOP concepts.
        <br>
        <img src="Images/RealLifeExamples.jpg" alt="Image" class="image5">
        <br>
        <b><u>3) Inheritance: </u></b>The following example illustrates the inheritance feature of the OOP. The child is derived
        from the parent, where child resembles the functionality of the parent along with inheriting their properties and characteristics.
        It represents real-world relationships well.It is transitive in nature, which means that if class B inherits from another class A, then all the subclasses of B would automatically inherit from class A.
        Also, it allows us to add more features to a class without modifying it.
        <br> <br>
        <b><u>4) Polymorphism : </u></b>The given example of microwave implements the feature of the polymorphism. The same microwave can be use
        for preparing the cake, or just steaming the rice. There is no need for having separate microwave for performing the separate
        operation. This illustrates the function of polymorphism in the real life world. In the programming world, Polymorphism refers to the ability of the function with the same name to carry different functionality altogether. It creates a structure that can use many forms of objects.

    </article>

</article>
<div class="footer">

    <p style="color: wheat;display: block; margin: auto;">© 2021 Copyright: Harsh Rajesh Damania</p>
    <h4  style="color: wheat;display: block; margin: auto;">Connecting the World Digitally !</h4>
    <img src="Images/GitHub-icon.png" alt="github"><a href="https://github.com/hrd9/pythonProject2/tree/Branch3_OOP_Principles" style="color: navajowhite"> GitHub</a>
    <img src="Images/w3c.png" alt="w3c" class="imagew3"><a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fharshd9pythonarticles.eastus.azurecontainer.io%2Foopprinciples.html" style="color: navajowhite">W3C Validator</a>
    <img src="Images/LinkedIn_logo_initials.png" alt="Linkedin" class="imagew4"><a href="https://www.linkedin.com/in/harsh-damania-13653b133" style="color: navajowhite">Linkedin</a>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/main.js"></script>
</body>